@font-face {
    font-family: 'Warriot';
    src: url(./resources/Warriot-lgR3y.otf) format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #333;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fa-caret-down {
    margin-left: 5px;
}


h2,
h3,
h4 {
    margin: 0;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-titlle {
    font-family: 'Warriot';
    font-size: 2.5em;
    margin-top: 1em;
}

#main-box {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 2em auto;
    padding: 2em;
    text-align: left;
    width: 80%;
}

#form-box {
    margin-bottom: 1em;
}

p {
    font-weight: bold;
    margin-bottom: 0.5em;
}

input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
}

button {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #5b5b5b;
    border: none;
    border-bottom: 5px solid #464646;
    box-shadow: 2px 2px 0 #464646;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 2em;
    margin-left: 42%;
}
  
button:hover {
    background-color: #464646;
    box-shadow: none;
    transform: translateY(2px);
}

table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.parrExamples {
    margin: 0;
    font-size: 1.2em;
}

#secondtitle {
    margin-top: 2em;
}

video {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 2em auto;
    width: 50%;
    height: 50%;
}

#Copyright {
    font-size: 0.8em;
    margin-top: 2em;
}

#resultTitle {
    font-size: xx-large;
}

#resultExpression {
    margin-left: 20%;
    font-size: 20px;
}