body {
    font-style: italic;
}
li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p.parrExamples {
    text-align: left;
};
span {
    position: relative;
};
span sup {
    position: absolute;
    left: 0;
};